$white: #eff3f5;
$black: #0a0f13;

$border-tag: #a8a8a8;
$border: rgba(168, 168, 168, 0.2);
$tags: #737373;
$accent: brown;


$font-main: 'InterTight', sans-serif;

$container-width: calc(1800px + 30px);
$container-padding: 15px;


$border-radius: 1000px;

$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

$column-gap: clamp(1.25rem, -1.669rem + 14.59vw, 14.75rem);